
<h1>LOVEYBOT</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end%>

<div class="center">
  <%= form_tag(yay_path, method: :post) do %>
    <%= submit_tag "Distribute Love", class: 'button' %>
  <% end %>
</div>