// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("/assets/bluebot.png");
  background-repeat:no-repeat;
  background-color: #7fa2d5;
  background-attachment:fixed;
  background-position: right bottom;
  font-family: Helvetica, sans-serif;
  
}

h1 {
  margin-left: 20px;
  font-family: 'Chango', cursive;
  color: black;
  font-size: 60px;
}

h2, h3 {
 font-family: 'Homenaje', sans-serif;
}

p {
  font-size: 11pt;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.smaller {
  width: 70%;
}

.flash {
  color: green;
  background: #ececec;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  -moz-box-shadow:inset 0px 0px 0px 1px darkgray;
  -webkit-box-shadow:inset 0px 0px 0px 1px darkgray;
  box-shadow:inset 0px 0px 0px 1px darkgray;
}

.nav {
  float: left;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:inset 0px 0px 0px 2px darkgray;
  -webkit-box-shadow:inset 0px 0px 0px 2px darkgray;
  box-shadow:inset 0px 0px 0px 2px darkgray;
  border:1px solid black;
}

.distro {
  background: #ececec;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff),     color-stop(50%,#f5f5f5), color-stop(50%,#ececec), color-stop(100%,#ececec));
  background: -moz-linear-gradient(center top, #ffffff 0%, #f5f5f5 50%, #ececec 50%, #ececec 100%);
  -moz-box-shadow:inset 0px 0px 0px 1px darkgray;
  -webkit-box-shadow:inset 0px 0px 0px 1px darkgray;
  box-shadow:inset 0px 0px 0px 1px darkgray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #ffffff;
  padding: 7px 10px 8px 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: black;
  font-size: 26pt;
  font-family: 'Chango', cursive;
}

.distro:hover {
   background: #ececec;
   -webkit-box-shadow: inset 0px 2px 2px 0px lightgray;
   -moz-box-shadow: inset 0px 2px 2px 0px lightgray;
   box-shadow: inset 0px 2px 2px 0px lightgray;
   color: #f16222;
}

.distro:active {
  -webkit-box-shadow: 
    0px 2px 3px 0px #dfdfdf inset, 
    0px -2px 3px 0px #ffffff inset, 
    0px 1px 1px 0px #f2f2f2;
  -moz-box-shadow: 
    0px 2px 3px 0px #dfdfdf inset,
    0px -2px 3px 0px #ffffff inset, 
    0px 1px 1px 0px #f2f2f2;
  box-shadow: 
    0px 2px 3px 0px #dfdfdf inset, 
    0px -2px 3px 0px #ffffff inset, 
    0px 1px 1px 0px #f2f2f2;
  padding: 8px 10px 7px 10px;
  color: #ff6825;
}

footer {
  padding-top: 125px;
  width: 70%;
  float: left;
  display: block;
  margin: 0 auto;
  text-align: left;
  margin-left: 20px;
}

footer img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}