<!DOCTYPE html>
<html>
<head>
  <title>Loveybot | Feeling Blue? | Spread Some Ruby Love! </title>
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
